
/* Opcional: deixa as bordas do seu desenho levemente arredondadas */
canvas {
  display: block;
  border-radius: 8px;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
}

/* Faz o panorama ocupar a tela toda */
#panorama {
  width: 100%;
  height: 100%;
}
